streamlit==1.41.1
pandas==2.3.1
altair==5.5.0
Pillow==11.3.0
langchain==0.3.27
langchain-huggingface==0.3.1
langchain-openai==0.3.28
langchain-community==0.3.27
faiss-cpu==1.8.0
matplotlib==3.10.3
langgraph==0.6.2
sentence-transformers==5.0.0
openai==1.98.0
openpyxl==3.1.5
tabulate==0.9.0